# Датасеты
roboflow
gdown
fiftyone
openimages

# CV и ML
opencv-python
scikit-learn
numpy
joblib

# YOLOv8
ultralytics

# Ускорение (GPU)
# --index-url https://download.pytorch.org/whl/cu118
torch
torchvision

# ONNX Runtime (отдельно, без спец. индекса)
onnxruntime-gpu

# Прогресс-бары
tqdm